@font-face {
  font-family: 'Lato';
  src: url('../font/Font-lato/Lato-Regular_2.ttf')/* IE9 Compat Modes */
  
}

body {
  /* overflow: hidden; */
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

.app {
  width: 100%;
}
ul {
  list-style-type: none;
}